<div class="modal-body my-3">
  <div class="row col-sm-12 ms-1">
    <div class="form-group margin-bottom-30">
    <div class="fw-bold text-center fs-5">Thank you for checking in at YouFit.</div>
    <div class="fw-bold text-center fs-5">You have activated your {{this.RegObj.passDurationDay}} day pass.</div>
    <div class="fw-bold text-center fs-5">Enjoy your workout!</div>
    </div>
  </div>
</div>
<div class="mb-4">
  <div class="col-12 text-center">
      <button class="btn bg-green px-4 shadow text-white"
        data-dismiss="modal" (click)="redirectToSignatureModule()">Continue</button>
  </div>
</div>