.bg-form .form-control{
  padding: 1rem 0.8rem  !important;
  font-size: 1.1rem !important;
}

.dropdown-btn, .dropdown-btn:hover, .dropdown-btn.show {
  height: 60px !important;
}

::placeholder {
  color: #aaa9a9 ;
  font-size: 18px ;
}

.dropdown-placeholder-color {
  color: #aaa9a9 !important;
  font-size: 18px;
  font-weight:unset !important;
}
.margin-top-x{
  margin-top: 125px;;
}