<div class="background">
  <div class="guest-signature-page margin-bottom-200">
    <div class="row">
      <div class="col-sm-12 signature-body">
        <div class="text-center signature-heading">
          <h3 class="mt-5 fw-bold" style="color: #42603c; font-weight: 500 !important;">YOUFIT GYMS</h3>
          <h4 class="mb-5 fw-bold" style="color: #42603c; font-weight: 500 !important;">Guest Code of Conduct and
            Agreement</h4>
        </div>

        <p class="text-justify padding-top-5 text-black">
          These guidelines are a legal agreement between you and YouFit (the “Agreement”). Failure to abide by any
          codes could result in revocation of gym access temporarily or revocation of complete membership. By signing
          below, I confirm that I have read and am abiding by these guidelines.
        </p>

        <p class="text-justify padding-top-5 text-black">
          Physical exercise can be strenuous and subject to risk. YouFit urges you to obtain a physical examination from
          a doctor before using any exercise equipment or participating in any exercise activity. You (each member,
          guest,
          or participant) agree that if you engage in any physical exercise or activity or use any club amenity on the
          premises or off premises at a sponsored club event, you do so voluntarily entirely at your own risk and assume
          all risks of injury, illness, damage or loss or theft of any personal property. This includes, without
          limitation,
          your use of the locker rooms, parking area, sidewalk area, or any equipment in the club facility and your
          participation in any activity, class, program, or instruction. You represent and warrant that you are in good
          physical
          condition and able to safely and competently use YouFit’s facilities and services. You acknowledge and agree
          that no
          employees or personnel of YouFit are capable of diagnosing, examining or treating medical conditions of any
          kind,
          of evaluating anyone’s ability to safely participate in any activity, or of determining the effect of any
          specific exercise
          on any person or medical condition, and that no person has made any representation to the contrary. You assume
          all
          risk of injury, illness, disability, or death related in any way to your use of YouFit facilities or services.
          You release
          YouFit from any and all liability, claims, demands or actions, at law or in equity, which exist now or may
          exist in the
          future, regardless of YouFit’s alleged or actual fault, related to your use of YouFit facilities or services,
          and covenant
          not to sue. This release and covenant not to sue expressly includes but is not limited to any direct, special,
          incidental,
          indirect, punitive, or consequential damages. You agree to indemnify, defend, and hold harmless YouFit, from
          and
          against any and all liability, claims, demands, or actions, at law or in equity, related to any use by of
          YouFit facilities
          or services, any violation of law by you. All references in this Agreement to YouFit include YouFit’s owners,
          officers,
          directors, employees, affiliates, subsidiaries, and agents. All references in this Agreement to YouFit’s
          services include,
          without limitation, personal training and group fitness classes. YOU AGREE THAT YOU ARE VOLUNTARILY
          PARTICIPATING IN ANY ACTIVITIES THAT INVOLVE THE USE OF THESE FACILITIES AND PREMISES
          AND EXPRESSLY AGREE TO ASSUME ALL RISKS OF ANY INJURY, ILLNESS, OR DEATH AS A RESULT
          OF PARTICIPATION IN THESE ACTIVITIES.
        </p>

        <p class="text-justify padding-top-5 text-black">
          ARBITRATION: I agree that any dispute, controversy, or claim arising out of or relating in any way to my
          participation in the activities offered at YouFit shall be exclusively resolved by binding arbitration
          administered
          by the American Arbitration Association under its Commercial Arbitration Rules. The place of the arbitration
          shall be the city where the club is located and the laws of the state where the club is located shall apply.
          The
          arbitral tribunal may not consolidate more than one person’s claims and may not otherwise preside over any
          form of
          a representative or class proceeding. Notwithstanding the tribunal’s power to rule on its own jurisdiction and
          the
          validity or enforceability of the agreement to arbitrate, the tribunal has no power to rule on the validity or
          enforceability
          of the agreement to arbitrate solely on an individual basis. In the event of a claim arising out of or
          relating in any
          way to the my participation in activities offered at YouFit, the complaining party shall notify the other
          party in
          writing thereof through a demand for arbitration which shall be made within a reasonable time after the claim
          has arisen, and in no event shall it be made after two years from when the aggrieved party knew or should have
          known of the claim. Judgment on the award rendered by the arbitrator may be entered in any court having
          jurisdiction thereof. I waive the right to a jury trial or trial before a judge in a public court. Neither I
          nor YouFit
          shall be entitled to join or consolidate disputes by or against others in any arbitration, or to include in
          any
          arbitration any dispute as a representative or member of a class or to act in any arbitration in the interest
          of the
          public or in a private Attorney General capacity. In the event the prohibition on class arbitration is deemed
          invalid
          or unenforceable, then the remaining portions of the arbitration agreement will remain in force.
        </p>

        <p class="text-justify padding-top-5 text-black fw-bold">
          I UNDERSTAND AND AGREE TO WAIVE THE RIGHT TO A JURY TRIAL OR TRIAL BEFORE A
          JUDGE IN A PUBLIC COURT. I SHALL NOT BE ENTITLED TO JOIN OR CONSOLIDATE DISPUTES
          BY OR AGAINST OTHERS IN ANY ARBITRATION, OR TO INCLUDE IN ANY ARBITRATION ANY
          DISPUTE AS A REPRESENTATIVE OR MEMBER OF A CLASS, OR TO ACT IN ANY ARBITRATION
          IN THE INTEREST OF THE GENERAL PUBLIC OR IN A PRIVATE ATTORNEY GENERAL
          CAPACITY
        </p>

        <p class="text-justify padding-top-5 text-black">
          By signing this waiver, you confirm that you are over 18. If you are a parent/guardian of a minor under 18
          years
          of age, you will need to sign on behalf of the minor as a release of liability, enter your contact
          information, and
          enter the minor's name as identification.
        </p>

        <p class="text-justify padding-top-5 text-black">
          I agree and understand that by signing below, that all electronic signatures are the legal equivalent of my
          manual/handwritten signature and I consent to be legally bound to this agreement. I further agree my
          signature on this document is as valid as if I signed the document in writing. Under penalty of perjury, I
          herewith affirm that my electronic signature was signed by myself with full knowledge and consent and am
          legally bound to these terms and conditions.
        </p>
      </div>
    </div>


    <div class="clearfix"></div>
    <div class="row margin-top-20">
      <div class="clearfix"></div>
      <div class="container">
        <!-- *ngIf="IsSalesPerson == 'true'" -->
        <div class="col-lg-8 col-md-8 col-sm-12 col-12 m-auto">
          <label class="form-label mt-4 text-black ">Is there a team member helping you?</label>
          <div class="btn-group p-0 w-100">
            <button type="button"
              class="mb-3 input-font-size dropdown-btn btn dropdown-toggle dropdown-toggle-split w-100 text-start py-2 px-3 rounded-2 bg-white shadow-signature"
              data-bs-toggle="dropdown" aria-expanded="false">
              <span *ngIf="salesPersonObj.fullName == ''; else FullName">Choose Sales Person..</span>
              <ng-template #FullName>{{ salesPersonObj.fullName }}</ng-template>
            </button>
            <ul class="dropdown-btn-menu dropdown-menu w-100 overflow-auto">
              <div class="mx-3 mb-2">
                <input type="text" class="filter-text form-control" placeholder="Search..."
                  [(ngModel)]="searchFilter" />
              </div>
              <li class="dropdown-item cursor-pointer py-2" *ngFor="
                let list of salesPersonList
                  | customeSharedfilter : searchFilter;
                index as i
              " [ngClass]="{
                active: i == activeIndex,
                'text-danger': list.salesPersonMissing == 1
              }" (click)="
                oepnMissingSalesPersonModal(list); activeSelectedOption(list, i)
              ">
                {{ list.fullName }}
              </li>
            </ul>
          </div>
        </div> 



        <h2 class="col-lg-8 mt-5 m-auto fs-4 text-black mb-2">AGREEMENTS & SIGNATURES</h2>
        <p class="col-lg-8 m-auto fs-6 text-black mb-2">Agreements</p>
        <!-- <div class="col-lg-8 m-auto fs-6 text-black mb-2 checkbox-label-group">
          <input type="checkbox" class="check-style checkbox text-black"
            [(ngModel)]="isAgreementCheckObj.isBehalfOfMinorCheck"> By
          signing this waiver, you confirm that you are over 18. If you are a
          parent/guardian of a minor under 18 years of age, you will need to
          sign on behalf of the minor as a release of liability, enter your
          contact information, and enter the minor's name as identification.
        </div> -->

        <div class="col-lg-8 m-auto fs-6 text-black mb-2 checkbox-label-group">
          <input type="checkbox" class="check-style checkbox text-black"
            [(ngModel)]="isAgreementCheckObj.isConsentCheck">
            BY CHECKING THIS BOX AND PROVIDING MY MOBILE NUMBER, I AUTHORIZE YOUFIT
            AND PARTIES ACTING ON ITS BEHALF TO CONTACT ME VIA PHONE, SMS AND MMS, FOR
            SPECIAL OFFERS, MARKETING OR OTHER PURPOSES. CALLS AND MESSAGES MAY BE SENT TO
            ME USING AN AUTOMATED SYSTEM FOR THE SELECTION AND DIALING OF TELEPHONE
            NUMBERS OR AN ARTIFICIAL OR PRE-RECORDED VOICE OR VOICEMAIL. I AM NOT REQUIRED
            TO GIVE CONSENT AS A CONDITION TO PURCHASE ANYTHING FROM YOUFIT. MESSAGE AND
            DATA RATES MAY APPLY. MESSAGE FREQUENCY VARIES. REPLY HELP FOR INFO. TO OPT OUT,
            CALL (888) 968-3481 OR REPLY STOP TO ANY TEXT MESSAGE.<br/>
            Consent to receive calls and messages may be withdrawn by emailing a request to withdraw consent, including
            my name and telephone number, to info@youfit.com or by sending a written request to withdraw to YouFit
            Gyms Corporate, 4032 W. Hillsboro Blvd., Deerfield Beach, FL 33442. Withdrawal of consent to receive text
            messages may be withdrawn by replying “STOP” to any text message received from YouFit.
        </div>
        <div></div>
        <div class="col-lg-8 m-auto col-md-12 col-sm-12 col-sm-12">
          <div class="mt-4">
            <div class="fs-5 mb-1 text-black">E-Signature</div>
            <div class="d-flex flex-column align-items-center signaturepadheightwidth">
              <canvas id="signature-pad" accept="accept" clear="clear" width="{{width}}" height="250"
                class="col-12 height rounded-1 border border-dark bg-white" #signPadCanvas></canvas>
            </div>
          </div>
          <div class="mt-4">
            <div class="fs-5 text-black">Initials</div>
            <div class="d-flex flex-column align-items-center">
              <canvas id="inititalsignature" accept="initialAccept" clear="clear" width="{{width}}" height="200"
                class="col-12 signature-pad rounded-1" #signPadInitialCanvas></canvas>
            </div>
          </div>
        </div>


        <div class="continue-btn-div mt-5 text-center">
          <button type="button" disabled="{{buttonDisabled}}" class="col-lg-8 m-auto btn btn-black text-white submit-button p-2 fs-5 shadow-signature"
            (click)="saveContact(signPad,signPadInitial,salesPersonObj, isAgreementCheckObj)">
            CONTINUE
          </button>
        </div>
      </div>

    </div>
    <div class="clearfix"></div>
  </div>
</div>