<div class="footer-section w-100" id="footerCheckout">
    <div class="container">
      <div class="row margin-top-5">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <div class="input-button-box text-center" (click)="gotoHome()">
            <div class="padding-bottom-5">
              <i class="footer-icon fa fa-home" aria-hidden="true"></i>
            </div>
            <label class="option-title">{{homebtn}}</label>
          </div>
        </div>
  
        <div class="offset-lg-6 col-lg-3 offset-md-6 col-md-3 offset-sm-4 col-sm-4 col-xs-6">
          <div class="input-button-box text-center">
            <div class="padding-bottom-5">
              <i class="footer-icon fa fa-arrow-left" aria-hidden="true" (click)="redirectToPreviousPage()"></i>
            </div>
            <label class="option-title">{{backbtn}}</label>
          </div>
        </div>
      </div>
    </div> 
  </div>