<div class="modal-header border-bottom-0">
  <button type="button" class="btn-close shadow-none" aria-label="Close" (click)="closePopupModal()" 
  style="max-width: 0px !important;height: 1px;"></button>
</div>
<div class="modal-body py-0">
  <p class="fs-14 text-black">Sales person is not in datatrak, please select a current sales person or notify IT via Ticketing System.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark btn-black text-white" (click)="closePopupModal()">OK</button>
</div>