<div class="search-guest-member-page">
    <div class="margin-bottom-200 margin-top-200">
        <h1 class="mt-5 text-white text-center">{{ joinHeadermessage }}</h1>
        <h4 class="text-center text-white mt-3">{{ subHeadermessage }}</h4>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
            <div class="row justify-content-center">
                <div class="d-flex gap-4 justify-content-center mt-4">
                    <button type="button" class="btn btn-div bg-green text-white shadow-lg rounded-1 text-white fw-normal shadow-color" (click)="redirectToPlans()">{{ viewPlans }}</button>
                    <button type="button" class="btn btn-div bg-green text-white shadow-lg rounded-1 text-white fw-normal shadow-color" (click)="redirectToHealthInsurance()">{{ healthInsurance }}</button>
                </div>
            </div>
        </div>
    </div>
</div>